/* DropList */
.hide { display:none; }
ul.droplist, select.droplist { visibility:hidden; overflow:hidden; }
.droplist { position:relative; min-width:40px; max-width:320px; height:17px; margin:0; padding:0; color:#FFFFFF; font-size:11px; font-weight:bold; }
.droplist .droplist-value { position:relative; line-height:17px; cursor:pointer; z-index:3003; }
.droplist .droplist-value div { display:block; float:left; height:17px; padding-left:6px; margin-right:1px; color:#FFF; background:url(../_img/droplist.png) 0 -30px no-repeat; overflow:hidden; }
.droplist .droplist-value a {display:block; float:right; width:20px; height:17px; background:url(../_img/droplist.png) -30px -90px no-repeat; outline:none; text-indent:-9999px; }
.droplist-active { z-index:9999999; }
.droplist-active div { background-position:0 -60px !important; outline:none; }
.droplist a:focus ~ div { background-position:0 -60px !important; outline:none; } /* keep isolated from previous selector, 'cause IE6 has a bug */
.droplist-active a, .droplist a:focus { background-position:-60px -90px !important; }
.droplist .droplist-list { position:absolute; top:14px; padding:4px; border:3px solid #6688EE; background:#FFF; z-index:3002; }
.droplist:focus .droplist-list { display:block; }
.droplist-up .droplist-list { top:auto; bottom:14px; }
.droplist .droplist-list ul li { _height:0; }
.droplist .droplist-list ul li > a, .droplist .droplist-list ul li strong { display:block; padding:4px 10px; color:#47423A; text-decoration:none; }
.droplist .droplist-list ul li.selected > a, .droplist .droplist-list ul li > a:hover {color:#6688EE;}
.droplist .droplist-list ul li > a:hover, .droplist .droplist-list ul li > a:focus { background-color:#F7F7F7; }
.droplist .droplist-list ul li.selected > a { background-color:#EEE; }
.droplist .droplist-list ul li ul li a { padding:2px 10px 2px 20px; }


/* jScrollPane */
.jScrollPaneContainer { position:relative; overflow:hidden; z-index:1; }
.jScrollPaneTrack { position:absolute; cursor:pointer; right:0; top:0; height:100%; background:#BBCCFF; width:2px !important; right:2px; }
.jScrollPaneDrag { position:absolute; background:#6688EE; cursor:pointer; overflow:hidden; width:6px !important; margin-left:-2px; }